.dark-high-contrast {
  --md-sys-color-primary: rgb(242 246 158);
  --md-sys-color-surface-tint: rgb(200 204 120);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(196 200 117);
  --md-sys-color-on-primary-container: rgb(11 12 0);
  --md-sys-color-secondary: rgb(243 242 205);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(197 197 162);
  --md-sys-color-on-secondary-container: rgb(11 12 0);
  --md-sys-color-tertiary: rgb(204 250 232);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(159 204 187);
  --md-sys-color-on-tertiary-container: rgb(0 14 9);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(20 20 12);
  --md-sys-color-on-background: rgb(229 227 214);
  --md-sys-color-surface: rgb(20 20 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 71 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(243 241 223);
  --md-sys-color-outline-variant: rgb(197 195 178);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 227 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(72 75 3);
  --md-sys-color-primary-fixed: rgb(228 232 145);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(200 204 120);
  --md-sys-color-on-primary-fixed-variant: rgb(17 18 0);
  --md-sys-color-secondary-fixed: rgb(229 229 192);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(201 201 165);
  --md-sys-color-on-secondary-fixed-variant: rgb(17 18 1);
  --md-sys-color-tertiary-fixed: rgb(191 236 218);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(163 208 191);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 14);
  --md-sys-color-surface-dim: rgb(20 20 12);
  --md-sys-color-surface-bright: rgb(81 80 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 32 24);
  --md-sys-color-surface-container: rgb(49 49 40);
  --md-sys-color-surface-container-high: rgb(60 60 51);
  --md-sys-color-surface-container-highest: rgb(72 71 62);
}
