@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}