@import './fonts.css';

:root {
  /* --- Primary (Lemon) --- */
  --primary: #FBFFA1;
  --on-primary: #323200;
  --primary-container: #4A4B00;
  --on-primary-container: #E5E994;

  /* --- Secondary (Pink) --- */
  --secondary: #FBD5EE;
  --on-secondary: #542247;
  --secondary-container: #703860;
  --on-secondary-container: #FFD8F1;

  /* --- Tertiary (Lilac) --- */
  --tertiary: #A8A3F6;
  --on-tertiary: #262475;
  --tertiary-container: #3E3D8D;
  --on-tertiary-container: #E3DFFF;

  /* --- Error --- */
  --error: #FFB4AB;
  --on-error: #690005;
  --error-container: #93000A;
  --on-error-container: #FFDAD6;

  /* --- Surface (Backgrounds) --- */
  --surface: #0e0d0d;
  --surface-variant: #474747;
  --on-surface: #EDE0DC; 
  
  /* --- Typography --- */
  --font-family-base: 'GoogleSans', system-ui, -apple-system, sans-serif;
  --font-family-heading: 'GoogleSans', system-ui, -apple-system, sans-serif;
  /* --- Radius --- */
  --radius-large: 16px;
  --radius-medium: 8px;
  --radius-small: 4px;

  /* --- Experimental md3 colors --- */
  --md3-surface: #141218;
  --md3-on-surface: #E6E0E9;
  --md3-surface-container: #211F26;
  --md3-secondary: var(--secondary);
  --md3-on-secondary: var(--on-secondary);
  --md3-secondary-container: var(--secondary-container);
  --md3-on-secondary-container: var(--on-secondary-container);
  --md3-surface-variant: #CAC4D0;
  --md3-surface-container-high: rgba(255, 255, 255, 0.05);;
}