@import "../../styles/vars.css";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  
  max-width: 1600px;
  margin: 0 auto;
  padding: 48px 32px;
  min-height: calc(100vh - 100px);
  position: relative;
}

.mainContent {
  flex: 1;
  max-width: 720px;
  width: 100%;
}

.rightSidebar {
  flex: 0 0 300px;
  position: sticky;
  top: 100px;
}

.title {
  font-family: var(--font-family-base);
  font-size: clamp(28px, 3vw, 36px);
  font-weight: 500;
  color: white;
  margin-top: 0;
  margin-bottom: 32px;
}

.chipList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column-reverse; 
        align-items: stretch;
        gap: 32px;
        box-sizing: border-box;
        padding: 32px 16px;
    }
    
    .mainContent {
        max-width: 100%;
    }
    
    .rightSidebar {
      position: static;
      width: 100%;
    }
}

@media (max-width: 768px) {
  .mainContent {
    min-width: 0;
  }
}
