@import '../../styles/vars.css';

.chip {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}


.minimal {
  color: var(--on-surface);
}


.primary {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 10px 20px;
  border-radius: var(--radius-large);
}


.iconBg {
  color: var(--on-surface);
}


.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, #141314, transparent 10%); 
  padding: 6px;
  border-radius: var(--radius-small);
}

.iconWrapper > svg {
  display: block;
}