@import '../../styles/vars.css';

.btn {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  padding: 6px 20px;
  border-radius: var(--radius-large);
  border: 1px solid transparent; 
  
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
  user-select: none;
}

.btn:active {
  transform: scale(0.98);
}


.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}
.primary:hover {
  background-color: color-mix(in srgb, var(--on-primary) var(--hover-opacity), var(--primary));
}
.primary:active {
  background-color: color-mix(in srgb, var(--on-primary) var(--pressed-opacity), var(--primary));
}

.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.secondary:hover {
  background-color: color-mix(in srgb, var(--on-secondary) var(--hover-opacity), var(--secondary));
}
.secondary:active {
  background-color: color-mix(in srgb, var(--on-secondary) var(--pressed-opacity), var(--secondary));
}

.tertiary {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
}
.tertiary:hover {
  background-color: color-mix(in srgb, var(--on-tertiary) var(--hover-opacity), var(--tertiary));
}
.tertiary:active {
  background-color: color-mix(in srgb, var(--on-tertiary) var(--pressed-opacity), var(--tertiary));
}

.bordered {
  background-color: transparent;
  border-color: var(--outline);
  color: var(--outline);
}
.bordered:hover {
  background-color: color-mix(in srgb, var(--primary) var(--hover-opacity), transparent);
}
.bordered:active {
  background-color: color-mix(in srgb, var(--primary) var(--pressed-opacity), transparent);
}

.transparent {
  background-color: transparent;
  color: var(--primary);
}
.transparent:hover {
  background-color: color-mix(in srgb, var(--primary) var(--hover-opacity), transparent);
}
.transparent:active {
  background-color: color-mix(in srgb, var(--primary) var(--pressed-opacity), transparent);
}


.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}